* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 4em;
  margin-top: 20px;
}

h2,
h3,
h4,
h5 {
  font-family: 'Coda', cursive;
}

.title-h1,
.title-h2,
.title-h3 {
  text-align: center;
}
.title-h2,
.title-h3 {
  margin: 5px;
}

.container-pvsc {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pvsc {
  text-align: center;
  margin: 10px;
}
.pvsc-sub {
  border: solid 5px black;
  border-radius: 5%;
  padding: 10px;
  background-color: rgb(128, 128, 128);
}
.pc {
  margin-bottom: 5px;
}
.score-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

.rps-btns {
  display: flex;
}

.btn-containers {
  border: solid 3px #000000;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
  width: 90px;
}

/* convert hex to CSS filter:  https://codepen.io/sosuke/pen/Pjoqqp*/
.main-icon {
  height: 50px;
  filter: invert(9%) sepia(2%) saturate(0%) hue-rotate(339deg) brightness(100%)
    contrast(94%);
}
.score-title {
  color: #1f1e1e;
}

.icon {
  height: 70px;
  filter: invert(9%) sepia(2%) saturate(0%) hue-rotate(339deg) brightness(100%)
    contrast(94%);
}

#scoreP,
#scoreC {
  font-size: 1.3rem;
  color: #e0b907;
}
/* hover style */
.hover-btn:hover {
  background-color: #e4e4e4;
}

/* click style */
.click-btn {
  filter: invert(69%) sepia(71%) saturate(1336%) hue-rotate(7deg)
    brightness(99%) contrast(94%);
}

/* winner/loser announcement */
#winner {
  color: #e0b907;
  width: fit-content;
  margin: 10px auto;
}
/* Separators */
.separator-1 {
  height: 2px;
  width: 300px;
  margin: 15px auto;
  background-color: #e4e4e4;
  text-align: center;
}
.separator-2 {
  height: 2px;
  width: 200px;
  margin: 15px auto;
  background-color: #e4e4e4;
  text-align: center;
}
.separator-3 {
  height: 2px;
  width: 100px;
  margin: 15px auto;
  background-color: #e4e4e4;
  text-align: center;
}
.separator-4 {
  height: 2px;
  width: 30px;
  margin: 15px auto;
  background-color: #e4e4e4;
  text-align: center;
}

/* How to play diagram */
.icon-containers {
  border: solid 2px #e0b907;
  border-radius: 50%;
  background-color: #e4e4e4;
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrows {
  width: 50px;
  filter: invert(69%) sepia(71%) saturate(1336%) hue-rotate(7deg)
    brightness(99%) contrast(94%);
}
.icon-exp {
  width: 30px;
}
.exp {
  font-size: 0.8em;
}

/* Positioning diagram relative to separator 4 */
.how-to-play {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#exp-R {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#exp-P {
  position: absolute;
  left: 0;
  top: 80px;
}
#exp-S {
  position: absolute;
  right: 0px;
  top: 80px;
}

#arrow-1 {
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 25px;
}
#arrow-2 {
  position: absolute;
  transform: rotate(215deg);
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#arrow-3 {
  position: absolute;
  transform: rotate(340deg);
  left: 0;
  top: 25px;
}

h5 {
  font-size: 0.6em;
  color: #1f1e1e;
}
#beats-1 {
  position: absolute;
  transform: rotate(90deg);
  right: 7.5px;
  top: 45px;
}

#beats-2 {
  position: absolute;
  transform: rotate(25deg);
  bottom: 28px;
  left: 0;
  right: 0;
  text-align: center;
}
#beats-3 {
  position: absolute;
  transform: rotate(-33deg);
  top: 40px;
  left: 7.5px;
}
